@import "tailwindcss";

:root {
  --background: #141414;
  --foreground: #f4f4f6;
  --muted: #c8c8c8;
  --border: #6d6d74;
}

body {
  /* background: var(--background); */
  margin: 0;
  padding: 0;
  color: var(--foreground);
  font-family: var(--jetbrains-mono), monospace;
  background:
    repeating-linear-gradient(
      90deg,
      #1c1c1c 0,
      #1c1c1c 5%,
      transparent 0,
      transparent 50%
    ),
    repeating-linear-gradient(
      180deg,
      #1c1c1c 0,
      #1c1c1c 5%,
      transparent 0,
      transparent 50%
    );
  background-size: 4em 4em;
  background-color: #141414;
  opacity: 1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}
