:root {
  --bg: #0c1b1d;
  --grid: #060d0e;
  --accent: #04a777;
  --text: #ffefc2;
  --overlay: #1e4348;
}

* {
  font-family: "Barlow Condensed";
  margin: 0;
  color: var(--text);
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.075);
  margin-top: 100px;
  padding: 40px;
  backdrop-filter: blur(2095px);
  border-radius: 20px;
}

button,
a {
  pointer-events: auto;
}

section {
  width: fit-content;
}

h1 {
  font-size: 3rem;
}

.highlight-text {
  color: var(--accent);
}

.bg-grid {
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(10, 100px);
  gap: 5px;
  width: calc(20 * 100px + 19 * 5px); /* 2095px */
  height: calc(10 * 100px + 9 * 5px); /* 1045px */
  overflow: hidden;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.bg-tile {
  width: 100px;
  height: 100px;
  background-color: var(--grid);
  transition: background-color 1000ms ease-out;
}

.bg-tile.active {
  background-color: var(--accent);
  transition: background-color 350ms ease-out;
}

.info-cont,
.title,
.location {
  display: flex;
  gap: 5px;
}

.info-cont {
  gap: 10px;
}

.title {
  border-right: 1px solid var(--text);
  padding-right: 10px;
}

.location {
  padding-left: 10px;
}

.download-btn {
  position: relative;
}

.btn {
  color: var(--grid);
  font-size: 1.2rem;
  padding: 5px 15px;
  padding-left: 38px;
  border-radius: 25px;
  border: 0;
  background-color: var(--text);
  cursor: pointer;
}

.download-svg {
  position: absolute;
  top: 5px;
  left: 10px;
}

.socials {
  width: 100%;
}
