:root {
  --bg: #0c1b1d;
  --grid: #060d0e;
  --accent: #04a777;
  --text: #ffefc2;
  --overlay: #1e4348;
}

* {
  font-family: "Barlow Condensed";
  margin: 0;
  color: var(--text);
}

body {
  background-color: var(--bg);
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  width: fit-content;
  background-color: rgba(128, 128, 128, 0.075);
  margin-top: 50px;
  padding: 40px;
  backdrop-filter: blur(1000px);
  border-radius: 20px;
  min-width: 300px;
  max-width: 620px;
}

button,
a {
  pointer-events: auto;
}

section {
  width: fit-content;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-weight: 400;
}

.highlight-text {
  color: var(--accent);
}

.bg-grid {
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(10, 100px);
  gap: 5px;
  width: calc(20 * 100px + 19 * 5px);
  height: calc(10 * 100px + 9 * 5px);
  overflow: hidden;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

.bg-tile {
  width: 100px;
  height: 100px;
  background-color: var(--grid);
  transition: background-color 1000ms ease-out;
}

.bg-tile.active {
  background-color: var(--accent);
  transition: background-color 350ms ease-out;
}

.personnal-info {
  width: 100%;
}

.info-cont,
.title,
.location {
  display: flex;
  gap: 5px;
}

.info-cont {
  gap: 10px;
  margin-top: 10px;
}

.title {
  border-right: 1px solid var(--text);
  padding-right: 10px;
}

.location {
  padding-left: 10px;
}

.download-btn {
  position: relative;
}

.btn {
  color: var(--grid);
  font-size: 1.2rem;
  padding: 5px 15px;
  padding-left: 38px;
  border-radius: 25px;
  border: 0;
  background-color: var(--text);
  cursor: pointer;
}

.download-svg {
  position: absolute;
  top: 5px;
  left: 10px;
}

.socials {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.social-btn {
  background-color: transparent;
  border: none;
}

.tech-stack {
  width: 100%;
  padding-top: 40px;
}

.skills-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 20px;
}

.skill-box {
  background-color: var(--overlay);
  display: flex;
  width: 90px;
  gap: 5px;
  padding: 10px 5px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

@media (width < 481px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .info-cont {
    flex-direction: column;
  }

  .svg-img {
    width: 24px;
  }

  .title,
  .location {
    padding: 0;
  }

  .info-cont {
    gap: 0;
  }

  .title {
    border: 0;
  }

  .skill-box {
    padding: 10px 3px;
  }

  main {
    align-items: center;
    justify-content: center;
  }
}
