:root {
  --bg: #0c1b1d;
  --grid: #060d0e;
  --accent: #04a777;
  --text: #ffefc2;
  --overlay: #1e4348;
}

* {
  font-family: "Barlow Condensed";
  margin: 0;
  color: var(--text);
}

body {
  background-color: var(--grid);
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-top: 30px;
  border-radius: 20px;
  min-width: 300px;
  max-width: 620px;
  padding: 10px 20px;
}

section {
  width: 100%;
  margin-top: 30px;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
}

h2 {
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
}

button {
  cursor: pointer;
}

.highlight-text {
  color: var(--accent);
}

.bg-grid {
  display: grid;
  grid-template-columns: repeat(20, 100px);
  grid-template-rows: repeat(10, 100px);
  gap: 5px;
  width: calc(20 * 100px + 19 * 5px);
  height: calc(10 * 100px + 9 * 5px);
  overflow: hidden;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  filter: blur(100px);
}

.bg-tile {
  width: 100px;
  height: 100px;
  background-color: var(--grid);
  pointer-events: none;
  transition: background-color 1000ms ease-out;
}

.bg-tile.active {
  background-color: var(--accent);
  transition: background-color 350ms ease-out;
}

.info-cont,
.title,
.location {
  display: flex;
  gap: 5px;
}

.info-cont {
  gap: 10px;
  margin-top: 10px;
}

.title {
  border-right: 1px solid var(--text);
  padding-right: 10px;
}

.location {
  padding-left: 10px;
}

.download-btn {
  position: relative;
  transition: transform 200ms ease-in;
}

.btn {
  color: var(--grid);
  font-size: 1.2rem;
  padding: 5px 15px;
  padding-left: 38px;
  border-radius: 25px;
  border: 0;
  background-color: var(--text);
  cursor: pointer;
}

.download-btn:hover {
  transform: scale(1.2);
  transition: transform 200ms ease-in;
}

.download-svg {
  position: absolute;
  top: 5px;
  left: 10px;
}

.socials {
  width: 100%;
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.social-btn {
  background-color: transparent;
  border: none;
  transition: transform 200ms ease-in;
}

.social-btn:hover {
  transform: scale(1.2);
  transition: transform 200ms ease-in;
}

.skills-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 5px;
  padding-top: 20px;
}

.skill-box {
  background-color: var(--overlay);
  display: flex;
  width: 90px;
  gap: 5px;
  padding: 10px 5px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--grid);
  transition: transform 200ms ease-in;
}

.skill-box:hover {
  transform: scale(1.2);
  background-color: var(--accent);
  transition: transform 100ms ease-in, background-color 100ms ease-in;
}

.skill-box:hover p {
  color: var(--bg);
  transition: color 200ms ease-in;
}

.project-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projects {
  margin-top: 20px;
}

.project-container {
  display: flex;
  background-color: var(--overlay);
  gap: 25px;
  padding: 20px 30px;
  position: relative;
  box-sizing: border-box;
}

.project-image {
  width: 200px;
  transition: transform 200ms ease-in;
}

.project-image img {
  width: 100%;
  aspect-ratio: 16/9;
}

.project-image:hover {
  transform: scale(1.1);
  transition: transform 200ms ease-in;
  cursor: pointer;
}

.stack-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 5px 0;
  max-width: 250px;
}

.project-title {
  font-size: 1.4rem;
  margin-bottom: 5px;
}

.project-desc {
  text-wrap: wrap;
  max-width: 300px;
}

.stack-skill {
  background-color: var(--grid);
  padding: 3px;
}

.project-links {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.proj-btn {
  background-color: var(--bg);
  padding: 5px;
  border: 0;
  font-size: 1.2rem;
}

.experience-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.tab-btn-container {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  border: 2px solid var(--overlay);
  box-sizing: border-box;
}

.education-btn,
.work-btn {
  width: 100%;
  height: 100%;
  padding: 10px 0;
  text-align: center;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: var(--overlay);
}

.active-tab-btn {
  cursor: default;
  background-color: var(--bg);
}

.inactive-tab {
  display: none;
}

.work-tab,
.education-tab {
  background-color: var(--bg);
  padding: 20px 30px;
  border: 5px solid var(--overlay);
  box-sizing: border-box;
}

.experience-box {
  margin: 20px 0;
}

.experience-header {
  font-size: 1.5rem;
  color: var(--accent);
}

.experience-subheader {
  font-family: 1.2rem;
}

.contact-container {
  margin: 20px 0;
  padding-bottom: 100px;
}

footer {
  position: absolute;
  bottom: 0;
}

@media (width < 481px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  .info-cont {
    flex-direction: column;
  }

  .svg-img {
    width: 24px;
  }

  .title,
  .location {
    padding: 0;
  }

  .info-cont {
    gap: 0;
  }

  .title {
    border: 0;
  }

  .skill-box {
    padding: 10px 3px;
  }

  a {
    font-size: 1rem;
  }

  .project-links {
    top: 5px;
    bottom: inherit;
  }
}
